@import-normalize;
 /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Bubbles&display=swap');


body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* //reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;

}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

/* Заголовки */


